<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fudan.studyroom.dao.SeatMapper" >
  <resultMap id="BaseResultMap" type="com.fudan.studyroom.entity.Seat" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="rid" property="rid" jdbcType="INTEGER" />
    <result column="ocupied" property="ocupied" jdbcType="BIT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="charge" property="charge" jdbcType="BIT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from seat
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fudan.studyroom.entity.Seat" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into seat (rid, ocupied, `type`, 
      charge)
    values (#{rid,jdbcType=INTEGER}, #{ocupied,jdbcType=BIT}, #{type,jdbcType=TINYINT}, 
      #{charge,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fudan.studyroom.entity.Seat" >
    update seat
    set rid = #{rid,jdbcType=INTEGER},
      ocupied = #{ocupied,jdbcType=BIT},
      `type` = #{type,jdbcType=TINYINT},
      charge = #{charge,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, rid, ocupied, `type`, charge
    from seat
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, rid, ocupied, `type`, charge
    from seat
  </select>
</mapper>